.slider-title
{
	font-weight:bold;
	font-size:24px;
	margin-bottom:10px;
}
.slider-about
{
	margin-left:40px;
	margin-right:40px;
}
.slider-about .item
{
	height:150px;
	/* margin:15px; */
	display:flex !important;
	justify-content:center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*padding:10px 20px;*/
	/*-webkit-box-shadow: 0 0 10px 1px #eee;*/
	/*box-shadow: 0 0 10px 1px #eee;*/
}
.slider-about .item img
{
	display: block;
    max-width: 100%;
    height: 100%;
}
@media (max-width:480px)
{
	.slider-about
	{
		margin-left:0px;
		margin-right:0px;
	}
}